@keyframes ldio-uhfk44wbvq {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-uhfk44wbvq div { box-sizing: border-box!important }
.ldio-uhfk44wbvq > div {
  position: absolute;
  width: 83.22px;
  height: 83.22px;
  top: 15.389999999999999px;
  left: 15.389999999999999px;
  border-radius: 50%;
  border: 5.699999999999999px solid #000;
  border-color: #85a2b6 transparent #85a2b6 transparent;
  animation: ldio-uhfk44wbvq 1.333333333333333s linear infinite;
}

.ldio-uhfk44wbvq > div:nth-child(2), .ldio-uhfk44wbvq > div:nth-child(4) {
  width: 69.53999999999999px;
  height: 69.53999999999999px;
  top: 22.229999999999997px;
  left: 22.229999999999997px;
  animation: ldio-uhfk44wbvq 1.333333333333333s linear infinite reverse;
}
.ldio-uhfk44wbvq > div:nth-child(2) {
  border-color: transparent #bbcedd transparent #bbcedd
}
.ldio-uhfk44wbvq > div:nth-child(3) { border-color: transparent }
.ldio-uhfk44wbvq > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-uhfk44wbvq > div:nth-child(3) div:before, .ldio-uhfk44wbvq > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 5.699999999999999px;
  height: 5.699999999999999px;
  top: -5.699999999999999px;
  left: 33.059999999999995px;
  background: #85a2b6;
  border-radius: 50%;
  box-shadow: 0 77.52px 0 0 #85a2b6;
}
.ldio-uhfk44wbvq > div:nth-child(3) div:after {
  left: -5.699999999999999px;
  top: 33.059999999999995px;
  box-shadow: 77.52px 0 0 0 #85a2b6;
}

.ldio-uhfk44wbvq > div:nth-child(4) { border-color: transparent; }
.ldio-uhfk44wbvq > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-uhfk44wbvq > div:nth-child(4) div:before, .ldio-uhfk44wbvq > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5.699999999999999px;
  height: 5.699999999999999px;
  top: -5.699999999999999px;
  left: 26.22px;
  background: #bbcedd;
  border-radius: 50%;
  box-shadow: 0 63.839999999999996px 0 0 #bbcedd;
}
.ldio-uhfk44wbvq > div:nth-child(4) div:after {
  left: -5.699999999999999px;
  top: 26.22px;
  box-shadow: 63.839999999999996px 0 0 0 #bbcedd;
}
.loadingio-spinner-double-ring-5ulujl3y1bl {
  width: 114px;
  height: 114px;
  display: inline-block;
  overflow: hidden;
  background: #303030;
}
.ldio-uhfk44wbvq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-uhfk44wbvq div { box-sizing: content-box; }